<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="vue.js"></script>
</head>
<body>

	<div id="root">
		<ul>
			<li v-for="name of names" >{{name}}</li>
		</ul>

		<input type="text" v-model="item">
		<button @click="addName">Add Name</button>
	</div>

	<script>
		new Vue({
			el:"#root",
			data : {
				item : "",
				names : ['ali','ahmed','mahmoud','emad']
			},
			methods : {
				addName(){
					this.names.push(this.item);
					this.item=''
				}
			}
		})
	</script>
</body>
</html>